#more-about-first-project{
  background-color: black;
  padding-bottom: 8rem;
  border-radius: 2.5rem 2.5rem 0 0;
  width: 100%;

  h2, h3{
    color: white;
  }

  h3{
    margin-left: 8rem;
    font-weight: 100;
    line-height: 2.5rem;
  }
}

.project-hero-section{
  margin-bottom: 8rem;
  margin-left: 8rem;

  h3{ 
    transform: translate(0, 1.5rem);
  }
}

.project-hero-image{
  width: 100%;
  height: auto;
  /* width: 100%; 
  height: auto; */
}

.project-hero-section-detail{
  margin-top: auto;
  margin-left: 3rem;
}

.project-hero-section-detail-item{
  font-weight: 100;
}

.project-overview, .project-reflection{
  width: 93%;
}

.project-video{
  margin-left: 8rem;
  width: 91%;
  /* Aspect-ratio: https://www.w3schools.com/Cssref/css_pr_aspect-ratio.php */
  aspect-ratio: 16 / 9; 
}

.project-reflection-image{
  margin-left: 8rem;
  width: 91%;
}

.white-line{
  background-color: white;
  margin: auto;
  width: 66%;
  height: 0.1rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.project-left-image{
  img{
  margin-left: 8rem;
  width: 80%;
  height: auto;
  }
}

.project-right-text{
  width: 85%;
  margin-top: -4.5rem;
}

.project-right-image{
  img{
    width: 66%;
    height: auto;
    margin-left: 8rem;
  }
}

.project-left-text{
  margin-top: -4.5rem;
}

.swap-layout .project-right-image{
  img{
    padding-bottom: 1rem;
  }
}


@media (min-width: 55rem) and (max-width: 82rem) {
  .project-hero-section{
    width: 85%;
  }

  .project-right-text{
    margin-top: 2rem;
  }

  .swap-layout {
    display: grid;
    grid-template-columns: 1fr;
  }
  

  .swap-layout .project-left-text {
    margin-top: 2rem;
    /* Grid row: https://www.w3schools.com/cssref/pr_grid-row.php */
    grid-row: 2; 
  }
  
  .swap-layout .project-right-image {
    grid-row: 1;
  }
}

@media (min-width: 35rem) and (max-width: 55rem){

  .project-hero-image{
    width: 85%;
    height: auto;
    /* width: 100%; 
    height: auto; */
  }

  .project-hero-section-detail{
    margin-left: 0rem;
  }
  
  .project-video{
    width: 75%;
  }

  .project-left-image, .project-right-image{
    width: 80%;
  }

  .project-reflection-image{
    width: 66%;
  }

  .swap-layout {
    display: grid;
    grid-template-columns: 1fr;
  }

  .swap-layout .project-left-text {
    margin-top: 2rem;
    grid-row: 2; 
  }
  
  .swap-layout .project-right-image {
    grid-row: 1;
  }
}



@media (width < 35rem) {

  .project-video{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    
  }

  .project-title, .project-hero-section-detail h3, .project-hero-image, #more-about-first-project h3, #more-about-first-project h2, #more-about-first-project img{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  .project-title{
    width: 85%;

  }

  .project-hero-image{
    margin-left: -6rem;
    width: 125%
  }

  .project-hero-section-detail h3{
    width: 140%;
    margin-left: -9.5rem;
  }

  #more-about-first-project h3, #more-about-first-project h2{
    margin-left: 1.5rem;
    width: 85%;
  }

  #more-about-first-project h3{
    font-size: 1rem;
    line-height: 1.75rem;
  }

  #more-about-first-project h2{
    line-height: 2.5rem;
  }

  #more-about-first-project img{
    margin-left: 1.5rem;
  }

  .project1-ideation-image, .project1-code-image{
    margin-bottom: 2rem;
  }

}